<div th:fragment="header">
    <header class="main-header">
        <a href="/" class="logo">
          <span class="logo-mini">My<b>Apps</b></span>
          <span class="logo-lg">My<b>Apps</b></span>
        </a>
        <nav class="navbar navbar-static-top">

    
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hidden-xs">R. Rizky Aria Putra W</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
</div>